*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    background-color: black; 

   
}
.navi
{
    height: 80px;
    width: 100%;
    border: 1px solid black;
    padding: 10px 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;


}
.nav_div1
{
    height: 100%;
    width: 17%;
    /* border: 1px solid red; */
    overflow: hidden;
}
.nav_div1 img
{
    width: 100%;
    height: 100%;

}
.nav_div2
{
    height: 100%;
    width: 60%;
    /* border: 1px solid red;
    padding: 0px 20px; */
    display: flex;
    justify-content:right;
    align-items: center;
    padding-right: 80px;
}
.nav_div2 a
{
    margin-left: 90px;
    text-decoration: none;
    font-size: 20px;
    font-family: bold;
    color: rgb(226, 217, 217);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   

}
.nav_div2 a:hover
{
    color: rgb(255, 123, 0);
}
.nav_div3
{
    height: 100%;
    width: 15%;
    /* border: 1px solid red; */
    display: flex;
    justify-content:right;
    align-items: center;
    color: rgb(221, 207, 207);
}
.nav_div3 i
{
    margin-left:30px;
    font-size: 20px;
    padding: 0px 10px;

}
.s1
{
    width: 100%;
    height: 550px;
    border: 2px solid black;
    padding: 5px 50px;
    display: flex;
    background-image:url("./b3.webp") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%,100%;
    background-attachment: fixed;

}
.s1_d1
{
    width: 60%;
    height: 100%;
    /* border: 2px solid red; */
    color: whitesmoke;
    position: relative;
}
.s1_d2
{
    width: 40%;
    height: 100%;
    /* border: 2px solid red; */
}
.h1
{
    position: absolute;
    top: 30px;    
    left: 40px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   

}
.h11
{
    position: absolute;
    top: 100px;    
    left: 40px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
.p1
{
    /* display: inline-block; */
    position: absolute;
    bottom: 290px;    
    left: 40px;
    font-family: serif;
    font-size: 18px;

}

.b1
{
    width: 170px;
    height: 50px;
    border-style: none;

    /* border: 1px solid black; */
        background-color: rgb(255, 102, 0);

    border-radius: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    font-size: 16px;
    position: absolute;
    bottom: 200px;
    left:40px;
}
.b2
{
    width: 170px;
    height: 50px;
    border-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   

    /* border: 1px solid black; */
    background-color: rgba(43, 42, 42, 0.986);
    border-radius: 10px;
    color:orange;
    font-style: bold;
    font-size: 16px;
    position: absolute;
    bottom: 200px;
    left:230px;
}
.b2:hover
{
    background-color: rgb(255, 145, 0);
    color: white;

}
.b1:hover
{
    background-color: rgb(255, 102, 0);
    color: white;

}
.s1_d2 img
{
    width: 100%;
    height: 100%;
}
.c1
{
    height: 20%;
    width: 100%;
    /* border: 1px solid rgb(241, 226, 5); */
    position: absolute;
    bottom: 0px;

}
.flex-container{
    width: 100%;
    height: 100%;
    /* border: 3px solid rgb(0, 255, 221); */
    display: flex;
    flex-direction: row;
}
.flex-box{
    
    height: 100%;
    width: 18%;
    transition: 1s;
    padding: 10px;
}
.flex-box > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid rgba(255, 166, 0, 0.349);
}
.flex-box:hover
{
    transform: scale(1.3);
    z-index: 2;
}